html {
  height: 100%;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

.content {
  flex: 1;
}

.sidebar {
  width: 80px;
  background-color: #25272E;
}

.sidebar__logo::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #1D2028;
  border-bottom: 1px solid #31343C;
}

.header {
  height: 82px;
  border-bottom: 1px solid #EEEEEE;
  padding: 16px 22px;
  color: #626262;
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: normal;
  line-height: normal;
  font-size: 36px;
}

.header__parrots-count {
  display: flex;
}

.header__parrots-count::before {
  content: url('images/light-parrot.svg');
  align-self: center;
  margin-right: 1.3%;
}
.background{
    position:fixed;
    margin-left:7.1%;
    margin-top:42.5%;
    height:7.2%;
    width:92.9%;
    vertical-align:central;
}
.background__avatar {
    position: relative;
    margin-left:0%;
    
    height:100%;
    stroke: #979797;
   
}
#avatar {
    position: relative;
    height: 100%;
}
.background__text {
    position: relative;
    margin-left: 6%;
    width: 86%;
    height: 100%;
    margin-top: -3.75%;
    fill: rgba(255,255,255,0.5);
}
#text{
    position:relative;
    width:100%;
    height: 100%;
}
.background__send {
    position: relative;
    margin-left: 95%;
    margin-top: -3.75%;
    width: 2.1%;
    height: 100%;
    
    fill: rgba(0,0,0,0.54);
}
#img__send{
    position:relative;
    height:100%;
}
#table__messages {
    margin-left: 16.4%;
    margin-top: 16.4%;
    width: 37.3%;
    font-family: IBM Plex Sans Font Style;
    font-size: 14px;
}
